* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  font-size: 100px;
  text-align: center;
  margin: 4px;
}

.hidden {
  display: none;
}

@font-face {
  font-family: "Ericsson GA628";
  src: url("EricssonGA628.woff2") format("woff2"),
    url("EricssonGA628.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.clocks {
  font-family: "Ericsson GA628";
  font-stretch: extra-expanded;
}

.clock {
  margin: 0.5em 0;
}

.time {
  font-size: 2em;
  color: #f00;
  background-color: #211;
  padding-top: 0.5em;
}

.epoch .time {
  font-size: 1.25em;
}

.location {
  font-size: 0.75em;
  color: #df2;
  background-color: #202910;
  text-transform: uppercase;
  margin-top: 0.5em;
  padding-top: 0.5em;
}

.status {
  font-size: 0.2em;
  color: black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  p {
    padding: 10px;
  }
}

.status.minor {
  background: yellow;
}

.status.major {
  background: orange;
}

.status.critical {
  background: red;
}
