body {
  background-color:black;
  text-align: center;
  font-family:ds_digib;
  font-stretch:extra-expanded;
  margin: 50px;
  font-size: 100px;
}

@font-face {
  font-family: ds_digib;
  src: local(ds_digib), url('digital.ttf') format('opentype');
}

.clock {
  display: none;
  margin-bottom: 75px;
}

.time {
  font-size: 200%;
  color: #f00;
  background-color: #211;
  padding-top: 30px;
}

.epoch .time {
  font-size: 125%;
  padding-top: 20px;
}

.location {
  margin-top: 25px;
  font-size: 75%;
  color: #df2;
  background-color: #202910;
  padding-top: 10px;
  text-transform: uppercase;
}
