--- 
--- 

body {
  background-color: black;
  text-align: center;
  font-family: ds_digib;
  font-stretch: extra-expanded;
  margin: 50px;
  font-size: 100px;
}

@font-face {
  font-family: ds_digib;
  src: local(ds_digib), url('digital.ttf') format('opentype');
}

.clock {
  display: none;
  margin-bottom: 7.5%;
}

.time {
  font-size: 200%;
  color: #f00;
  background-color: #211;
  padding-top: 3%;
}

.epoch .time {
  font-size: 125%;
  padding-top: 2%;
}

.location {
  margin-top: 2.5%;
  font-size: 75%;
  color: #df2;
  background-color: #202910;
  padding-top: 1%;
  text-transform: uppercase;
}

.status {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
  font-size: 25px;
  color: black;
  text-align: center;
  font-family: sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
}

.status.minor {
  background: yellow;
}

.status.major {
  background: orange;
}

.status.critical {
  background: red;
}