---
---

body {
  background-color: black;
  margin: 50px;
  font-size: 100px;
}

@font-face {
  font-family: "Ericsson GA628";
  src: url("EricssonGA628.woff2") format("woff2"),
    url("EricssonGA628.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.clocks {
  font-family: "Ericsson GA628";
  font-stretch: extra-expanded;
}

.time {
  font-size: 2em;
  color: #f00;
  background-color: #211;
}

.epoch .time {
  font-size: 1.25em;
}

.location {
  font-size: 0.75em;
  color: #df2;
  background-color: #202910;
  text-transform: uppercase;
}

.status {
  font-size: 0.2em;
  color: black;

  p {
    padding: 10px;
  }
}

.status.minor {
  background: yellow;
}

.status.major {
  background: orange;
}

.status.critical {
  background: red;
}
